<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to ERP</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="login">
        <div class="logo">
            <img src="/images/logo.png" alt="" height="250px" width="250px">
        </div>
        <div class="form">
            <h2>Login</h2>
            <div>
                <form action="/login" method="post">
                    <input type="text" placeholder="Username" name="username" id="username" required autocomplete="off">
                    <br><br>
                    <input type="password" placeholder="Password" name="password" id="password" required>
                    <br><br>
                    <br><br>
                    <button type="submit">Log in</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>